<Context>
    <Resource
            name="jdbc/ristoranteDB"
            auth="Container"
            type="javax.sql.DataSource"
            maxTotal="20"
            maxIdle="10"
            maxWaitMillis="-1"
            username="root"
            password="tua_password"
            driverClassName="com.mysql.cj.jdbc.Driver"
            url="jdbc:mysql://localhost:3306/ristorante?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=UTC"/>
</Context>
